# Importing the database "American Community Survey-2022", Census Bureau
### This database provides information about the foreign-born population in the United States.
### My goal is to gather data that allows me to understand how many foreign-born individuals live in the U.S., how many are heads of household, and—based on that group—identify the total number of female heads of household, the employment status of women over the age of 16, and the poverty levels among foreign-born female heads of household who care for children under the age of 18 and under the age of 5.

In [4]:
import pandas as pd

In [5]:
fb22 = pd.read_csv(
    "../data/FB22.csv",
)
print(fb22.head())

          States  Total population Onerace Tworaces Threeraces  \
0  United States          46182177  78.70%   20.70%      0.60%
1        Alabama            191234  85.20%   13.90%      0.70%
2        Arizona            962688  64.90%   34.60%      0.40%
3       Arkansas            156073  70.30%   29.20%      0.40%
4     California          10428025  82.10%   17.30%      0.50%

  Fourormoreraces Totalpopulation    Male  Female Under5years  ...  \
0           0.10%      46,182,177  48.80%  51.20%       0.60%  ...
1           0.30%         191,234  49.70%  50.30%       1.00%  ...
2           0.00%         962,688  48.60%  51.40%       0.50%  ...
3           0.10%         156,073  51.30%  48.70%       0.60%  ...
4           0.00%      10,428,025  48.70%  51.30%       0.40%  ...

  Medianselectedmonthlyownercostswithamortgage(dollars)  \
0                                              2,208
1                                              1,327
2                                              1,502
3                                              1,325
4                                              2,748

  Medianselectedmonthlyownercostswithoutamortgage(dollars)  \
0                                                702
1                                                422
2                                                470
3                                                417
4                                                780

  Occupiedunitspayingrent(excludingunitswhereGRAPIcannotbecomputed)  \
0                                          8,339,281
1                                             29,311
2                                            141,314
3                                             23,471
4                                          2,003,305

  Lessthan30percent.1 30percentormore.1 Occupiedunitspayingrent  \
0              46.10%            53.90%               8,547,323
1              60.60%            39.40%                  30,894
2              46.80%            53.20%                 144,218
3              63.10%            36.90%                  24,085
4              43.20%            56.80%               2,044,730

  Mediangrossrent(dollars) Totalhouseholds  Withacomputer  \
0                    1,489      20,062,035         96.60%
1                      998          80,825         96.50%
2                    1,369         425,795         95.00%
3                      895          66,380         95.80%
4                    1,768       4,399,236         96.70%

  WithabroadbandInternetsubscription
0                             91.50%
1                             88.20%
2                             87.50%
3                             87.80%
4                             92.50%

[5 rows x 307 columns]

### Here I select the columns that will provide the information I’m looking for. I also specify how I want the numbers to be interpreted. I chose to format some of them as integers and percentages. I set the column with the states to be read as a string.

In [6]:
new_columns = [
    "States",
    "Total population",
    "Households",
    "Female_householder",
    "With_own_children",
    "OCCUPATIONCivilianemployedpopulation16yearsandover",
    "Femalecivilianemployedpopulation16yearsandover",
    "Families",
    "Poverty rates for families and people for whom poverty status is determined All families",
    "Female_householder_family",
    "With_children_18",
    "With_children_5",
]

new_fb2 = fb22[new_columns]

dtypes = {
    "States":"str",
    "Total population": "Int64",
    "Households": "Int64",
    "Female_householder": "float",
    "With_own_children": "float",
    "OCCUPATIONCivilianemployedpopulation16yearsandover": "Int64",
    "Femalecivilianemployedpopulation16yearsandover": "Int64",
    "Families": "Int64",
    "Poverty rates for families and people for whom poverty status is determined All families": "float",
    "Female_householder_family": "float",
    "With_children_18": "float",
    "With_children_5": "float",
}

new_fb2 = new_fb2.astype(dtypes)

print(new_fb2.head(2))

          States  Total population  Households  Female_householder  \
0  United States          46182177    20062035                14.1
1        Alabama            191234       80825                 8.9

   With_own_children  OCCUPATIONCivilianemployedpopulation16yearsandover  \
0                6.8                                           28220471
1                5.5                                             118504

   Femalecivilianemployedpopulation16yearsandover  Families  \
0                                        12347125  15108635
1                                           46176     58485

   Poverty rates for families and people for whom poverty status is determined All families  \
0                                               12.0
1                                               16.7

   Female_householder_family  With_children_18  With_children_5
0                       24.4              34.6             34.8
1                       28.2              40.0             59.0

### I created a new column to find out, from the total number of foreign-born heads of household, how many are women in whole numbers, since I only had the percentage. I applied the same formula to find out the number of foreign-born women who care for children under the age of 18.

In [7]:
new_fb2 ["number_single_moms"] = new_fb2 ["Female_householder"] / 100 * new_fb2 ["Households"]
new_fb2.head(3)

,States,Total population,Households,Female_householder,With_own_children,OCCUPATIONCivilianemployedpopulation16yearsandover,Femalecivilianemployedpopulation16yearsandover,Families,Poverty rates for families and people for whom poverty status is determined All families,Female_householder_family,With_children_18,With_children_5,number_single_moms
0,United States,46182177,20062035,14.1,6.8,28220471,12347125,15108635,12.0,24.4,34.6,34.8,2828746.935
1,Alabama,191234,80825,8.9,5.5,118504,46176,58485,16.7,28.2,40.0,59.0,7193.425
2,Arizona,962688,425795,15.1,8.3,561845,235684,327705,14.0,25.9,34.1,29.8,64295.045

In [8]:
new_fb2 ["number_single_moms_w_minors"] = new_fb2["With_own_children"] / 100 * new_fb2 ["Households"]
new_fb2.head(3)

,States,Total population,Households,Female_householder,With_own_children,OCCUPATIONCivilianemployedpopulation16yearsandover,Femalecivilianemployedpopulation16yearsandover,Families,Poverty rates for families and people for whom poverty status is determined All families,Female_householder_family,With_children_18,With_children_5,number_single_moms,number_single_moms_w_minors
0,United States,46182177,20062035,14.1,6.8,28220471,12347125,15108635,12.0,24.4,34.6,34.8,2828746.935,1364218.38
1,Alabama,191234,80825,8.9,5.5,118504,46176,58485,16.7,28.2,40.0,59.0,7193.425,4445.375
2,Arizona,962688,425795,15.1,8.3,561845,235684,327705,14.0,25.9,34.1,29.8,64295.045,35340.985

### I created a new column to calculate the percentage of foreign-born women over the age of 16 who are employed.

In [9]:
new_fb2 ["percentage_female_employed"] = new_fb2 ["Femalecivilianemployedpopulation16yearsandover"] / new_fb2 ["OCCUPATIONCivilianemployedpopulation16yearsandover"] * 100
new_fb2.head(3)

,States,Total population,Households,Female_householder,With_own_children,OCCUPATIONCivilianemployedpopulation16yearsandover,Femalecivilianemployedpopulation16yearsandover,Families,Poverty rates for families and people for whom poverty status is determined All families,Female_householder_family,With_children_18,With_children_5,number_single_moms,number_single_moms_w_minors,percentage_female_employed
0,United States,46182177,20062035,14.1,6.8,28220471,12347125,15108635,12.0,24.4,34.6,34.8,2828746.935,1364218.38,43.75237
1,Alabama,191234,80825,8.9,5.5,118504,46176,58485,16.7,28.2,40.0,59.0,7193.425,4445.375,38.965773
2,Arizona,962688,425795,15.1,8.3,561845,235684,327705,14.0,25.9,34.1,29.8,64295.045,35340.985,41.948224

### I created a new column to determine the percentage of foreign-born heads of household out of the total foreign-born population living in the United States.

In [10]:
new_fb2 ["households_foreign_born"] = new_fb2["Households"] / new_fb2["Total population"] * 100
new_fb2.head(3)

,States,Total population,Households,Female_householder,With_own_children,OCCUPATIONCivilianemployedpopulation16yearsandover,Femalecivilianemployedpopulation16yearsandover,Families,Poverty rates for families and people for whom poverty status is determined All families,Female_householder_family,With_children_18,With_children_5,number_single_moms,number_single_moms_w_minors,percentage_female_employed,households_foreign_born
0,United States,46182177,20062035,14.1,6.8,28220471,12347125,15108635,12.0,24.4,34.6,34.8,2828746.935,1364218.38,43.75237,43.441077
1,Alabama,191234,80825,8.9,5.5,118504,46176,58485,16.7,28.2,40.0,59.0,7193.425,4445.375,38.965773,42.264974
2,Arizona,962688,425795,15.1,8.3,561845,235684,327705,14.0,25.9,34.1,29.8,64295.045,35340.985,41.948224,44.229802

### I applied filtering from highest to lowest for each new column I created.

In [23]:
new_fb2_sorted1 = new_fb2.sort_values(by='Total population', ascending=False)
new_fb2_sorted1.head(5)

,States,Total population,Households,Female_householder,With_own_children,OCCUPATIONCivilianemployedpopulation16yearsandover,Femalecivilianemployedpopulation16yearsandover,Families,Poverty rates for families and people for whom poverty status is determined All families,Female_householder_family,With_children_18,With_children_5,number_single_moms,number_single_moms_w_minors,percentage_female_employed,households_foreign_born
0,United States,46182177,20062035,14.1,6.8,28220471,12347125,15108635,12.0,24.4,34.6,34.8,2828746.935,1364218.38,43.75237,43.441077
4,California,10428025,4399236,14.5,5.8,6170755,2667796,3444453,11.1,21.9,32.3,28.1,637889.22,255155.688,43.232895,42.186665
39,Texas,5169126,2268663,14.6,7.6,3166901,1262507,1794013,15.6,34.1,46.3,54.8,331224.798,172418.388,39.865692,43.888715
9,Florida,4817273,2106358,15.6,7.1,2829650,1301797,1526061,12.1,21.2,30.7,34.2,328591.848,149551.418,46.005584,43.725112
30,New York,4459752,2051902,16.8,6.6,2619374,1224916,1444277,13.2,22.9,33.3,31.9,344719.536,135425.532,46.763692,46.00933

In [24]:
new_fb2_sorted2 = new_fb2.sort_values(by='households_foreign_born', ascending=False)
new_fb2_sorted2.head(5)

,States,Total population,Households,Female_householder,With_own_children,OCCUPATIONCivilianemployedpopulation16yearsandover,Femalecivilianemployedpopulation16yearsandover,Families,Poverty rates for families and people for whom poverty status is determined All families,Female_householder_family,With_children_18,With_children_5,number_single_moms,number_single_moms_w_minors,percentage_female_employed,households_foreign_born
8,District of Columbia,99898,54352,10.7,6.2,71036,34686,23590,5.4,11.2,NaN,NaN,5815.664,3369.824,48.828763,54.407496
29,New Mexico,196873,91906,14.2,7.4,112334,49034,66879,18.9,28.2,45.4,NaN,13050.652,6801.044,43.650186,46.682887
30,New York,4459752,2051902,16.8,6.6,2619374,1224916,1444277,13.2,22.9,33.3,31.9,344719.536,135425.532,46.763692,46.00933
36,Rhode Island,157594,72449,13.9,6.3,96684,43431,52023,10.5,15.1,21.2,NaN,10070.411,4564.287,44.920566,45.971928
13,Illinois,1810100,830783,11.4,5.0,1133130,482471,623981,9.5,20.1,31.3,23.2,94709.262,41539.15,42.57861,45.897078

In [25]:
new_fb2_sorted3 = new_fb2.sort_values(by='number_single_moms', ascending=False)
new_fb2_sorted3.head(5)

,States,Total population,Households,Female_householder,With_own_children,OCCUPATIONCivilianemployedpopulation16yearsandover,Femalecivilianemployedpopulation16yearsandover,Families,Poverty rates for families and people for whom poverty status is determined All families,Female_householder_family,With_children_18,With_children_5,number_single_moms,number_single_moms_w_minors,percentage_female_employed,households_foreign_born
0,United States,46182177,20062035,14.1,6.8,28220471,12347125,15108635,12.0,24.4,34.6,34.8,2828746.935,1364218.38,43.75237,43.441077
4,California,10428025,4399236,14.5,5.8,6170755,2667796,3444453,11.1,21.9,32.3,28.1,637889.22,255155.688,43.232895,42.186665
30,New York,4459752,2051902,16.8,6.6,2619374,1224916,1444277,13.2,22.9,33.3,31.9,344719.536,135425.532,46.763692,46.00933
39,Texas,5169126,2268663,14.6,7.6,3166901,1262507,1794013,15.6,34.1,46.3,54.8,331224.798,172418.388,39.865692,43.888715
9,Florida,4817273,2106358,15.6,7.1,2829650,1301797,1526061,12.1,21.2,30.7,34.2,328591.848,149551.418,46.005584,43.725112

In [26]:
new_fb2_sorted4 = new_fb2.sort_values(by='Female_householder', ascending=False)
new_fb2_sorted4.head(5)

,States,Total population,Households,Female_householder,With_own_children,OCCUPATIONCivilianemployedpopulation16yearsandover,Femalecivilianemployedpopulation16yearsandover,Families,Poverty rates for families and people for whom poverty status is determined All families,Female_householder_family,With_children_18,With_children_5,number_single_moms,number_single_moms_w_minors,percentage_female_employed,households_foreign_born
30,New York,4459752,2051902,16.8,6.6,2619374,1224916,1444277,13.2,22.9,33.3,31.9,344719.536,135425.532,46.763692,46.00933
26,Nevada,600957,260837,16.2,8.3,364233,162284,199204,11.5,21.3,28.4,26.9,42255.594,21649.471,44.554996,43.403605
11,Hawaii,246683,94336,16.0,6.2,141303,76442,69020,9.5,16.6,25.0,NaN,15093.76,5848.832,54.097931,38.241792
22,Minnesota,498826,215166,15.9,10.3,323584,149646,160668,14.1,31.0,39.4,60.9,34211.394,22162.098,46.246415,43.13448
9,Florida,4817273,2106358,15.6,7.1,2829650,1301797,1526061,12.1,21.2,30.7,34.2,328591.848,149551.418,46.005584,43.725112

In [27]:
new_fb2_sorted5 = new_fb2.sort_values(by='number_single_moms_w_minors', ascending=False)
new_fb2_sorted5.head(5)

,States,Total population,Households,Female_householder,With_own_children,OCCUPATIONCivilianemployedpopulation16yearsandover,Femalecivilianemployedpopulation16yearsandover,Families,Poverty rates for families and people for whom poverty status is determined All families,Female_householder_family,With_children_18,With_children_5,number_single_moms,number_single_moms_w_minors,percentage_female_employed,households_foreign_born
0,United States,46182177,20062035,14.1,6.8,28220471,12347125,15108635,12.0,24.4,34.6,34.8,2828746.935,1364218.38,43.75237,43.441077
4,California,10428025,4399236,14.5,5.8,6170755,2667796,3444453,11.1,21.9,32.3,28.1,637889.22,255155.688,43.232895,42.186665
39,Texas,5169126,2268663,14.6,7.6,3166901,1262507,1794013,15.6,34.1,46.3,54.8,331224.798,172418.388,39.865692,43.888715
9,Florida,4817273,2106358,15.6,7.1,2829650,1301797,1526061,12.1,21.2,30.7,34.2,328591.848,149551.418,46.005584,43.725112
30,New York,4459752,2051902,16.8,6.6,2619374,1224916,1444277,13.2,22.9,33.3,31.9,344719.536,135425.532,46.763692,46.00933

In [28]:
new_fb2_sorted6 = new_fb2.sort_values(by='With_own_children', ascending=False)
new_fb2_sorted6.head(5)

,States,Total population,Households,Female_householder,With_own_children,OCCUPATIONCivilianemployedpopulation16yearsandover,Femalecivilianemployedpopulation16yearsandover,Families,Poverty rates for families and people for whom poverty status is determined All families,Female_householder_family,With_children_18,With_children_5,number_single_moms,number_single_moms_w_minors,percentage_female_employed,households_foreign_born
22,Minnesota,498826,215166,15.9,10.3,323584,149646,160668,14.1,31.0,39.4,60.9,34211.394,22162.098,46.246415,43.13448
17,Kentucky,180899,72720,14.5,9.7,112577,48557,52994,17.5,36.3,46.9,55.7,10544.4,7053.84,43.132256,40.199227
25,Nebraska,142569,61283,13.6,9.4,93141,39445,46228,13.5,22.0,25.6,NaN,8334.488,5760.602,42.349771,42.9848
10,Georgia,1168022,499099,14.2,8.7,769549,336591,386728,11.1,26.6,32.9,24.0,70872.058,43421.613,43.738735,42.730274
31,North Carolina,916787,390698,13.8,8.6,579698,249451,304679,14.3,36.8,47.6,36.8,53916.324,33600.028,43.031199,42.616006

In [29]:
new_fb2_sorted7 = new_fb2.sort_values(by='percentage_female_employed', ascending=False)
new_fb2_sorted7.head(5)

,States,Total population,Households,Female_householder,With_own_children,OCCUPATIONCivilianemployedpopulation16yearsandover,Femalecivilianemployedpopulation16yearsandover,Families,Poverty rates for families and people for whom poverty status is determined All families,Female_householder_family,With_children_18,With_children_5,number_single_moms,number_single_moms_w_minors,percentage_female_employed,households_foreign_born
11,Hawaii,246683,94336,16.0,6.2,141303,76442,69020,9.5,16.6,25.0,NaN,15093.76,5848.832,54.097931,38.241792
8,District of Columbia,99898,54352,10.7,6.2,71036,34686,23590,5.4,11.2,NaN,NaN,5815.664,3369.824,48.828763,54.407496
30,New York,4459752,2051902,16.8,6.6,2619374,1224916,1444277,13.2,22.9,33.3,31.9,344719.536,135425.532,46.763692,46.00933
20,Massachusetts,1259871,561458,15.4,8.2,808127,374150,404216,9.9,19.9,28.6,23.8,86464.532,46039.556,46.298416,44.564721
22,Minnesota,498826,215166,15.9,10.3,323584,149646,160668,14.1,31.0,39.4,60.9,34211.394,22162.098,46.246415,43.13448

In [31]:
fb22_sorted8 = new_fb2.sort_values(by='Femalecivilianemployedpopulation16yearsandover', ascending=False)
fb22_sorted8.head(5)

,States,Total population,Households,Female_householder,With_own_children,OCCUPATIONCivilianemployedpopulation16yearsandover,Femalecivilianemployedpopulation16yearsandover,Families,Poverty rates for families and people for whom poverty status is determined All families,Female_householder_family,With_children_18,With_children_5,number_single_moms,number_single_moms_w_minors,percentage_female_employed,households_foreign_born
0,United States,46182177,20062035,14.1,6.8,28220471,12347125,15108635,12.0,24.4,34.6,34.8,2828746.935,1364218.38,43.75237,43.441077
4,California,10428025,4399236,14.5,5.8,6170755,2667796,3444453,11.1,21.9,32.3,28.1,637889.22,255155.688,43.232895,42.186665
9,Florida,4817273,2106358,15.6,7.1,2829650,1301797,1526061,12.1,21.2,30.7,34.2,328591.848,149551.418,46.005584,43.725112
39,Texas,5169126,2268663,14.6,7.6,3166901,1262507,1794013,15.6,34.1,46.3,54.8,331224.798,172418.388,39.865692,43.888715
30,New York,4459752,2051902,16.8,6.6,2619374,1224916,1444277,13.2,22.9,33.3,31.9,344719.536,135425.532,46.763692,46.00933

In [32]:
fb22_sorted9 = new_fb2.sort_values(by='Poverty rates for families and people for whom poverty status is determined All families', ascending=False)
fb22_sorted9.head(20)

,States,Total population,Households,Female_householder,With_own_children,OCCUPATIONCivilianemployedpopulation16yearsandover,Femalecivilianemployedpopulation16yearsandover,Families,Poverty rates for families and people for whom poverty status is determined All families,Female_householder_family,With_children_18,With_children_5,number_single_moms,number_single_moms_w_minors,percentage_female_employed,households_foreign_born
23,Mississippi,65448,24324,12.5,7.5,37067,13438,17016,19.3,43.2,49.8,NaN,3040.5,1824.3,36.253271,37.165383
29,New Mexico,196873,91906,14.2,7.4,112334,49034,66879,18.9,28.2,45.4,NaN,13050.652,6801.044,43.650186,46.682887
17,Kentucky,180899,72720,14.5,9.7,112577,48557,52994,17.5,36.3,46.9,55.7,10544.4,7053.84,43.132256,40.199227
18,Louisiana,192895,80680,11.1,5.1,112093,41359,57884,16.9,35.4,47.5,74.9,8955.48,4114.68,36.897041,41.825864
1,Alabama,191234,80825,8.9,5.5,118504,46176,58485,16.7,28.2,40.0,59.0,7193.425,4445.375,38.965773,42.264974
33,Oklahoma,242754,106289,11.5,7.2,157995,60758,79799,16.0,32.0,41.7,NaN,12223.235,7652.808,38.455647,43.784654
39,Texas,5169126,2268663,14.6,7.6,3166901,1262507,1794013,15.6,34.1,46.3,54.8,331224.798,172418.388,39.865692,43.888715
3,Arkansas,156073,66380,11.1,7.1,98493,40106,51919,14.6,30.3,42.9,80.0,7368.18,4712.98,40.719645,42.53138
38,Tennessee,392453,157644,11.3,7.7,246240,97548,124127,14.5,33.1,38.0,38.0,17813.772,12138.588,39.61501,40.168886
37,South Carolina,273375,121364,12.2,7.4,169396,70915,90545,14.4,34.1,45.9,32.3,14806.408,8980.936,41.863444,44.394696
31,North Carolina,916787,390698,13.8,8.6,579698,249451,304679,14.3,36.8,47.6,36.8,53916.324,33600.028,43.031199,42.616006
22,Minnesota,498826,215166,15.9,10.3,323584,149646,160668,14.1,31.0,39.4,60.9,34211.394,22162.098,46.246415,43.13448
2,Arizona,962688,425795,15.1,8.3,561845,235684,327705,14.0,25.9,34.1,29.8,64295.045,35340.985,41.948224,44.229802
15,Iowa,190727,78564,12.3,8.3,126111,53967,55868,13.9,33.1,40.2,68.9,9663.372,6520.812,42.793254,41.191861
12,Idaho,115978,46602,12.8,7.4,75063,31230,36858,13.6,33.7,52.5,90.1,5965.056,3448.548,41.605052,40.181759
14,Indiana,414526,172115,10.0,6.4,262190,112698,126043,13.5,25.2,31.1,NaN,17211.5,11015.36,42.983333,41.520918
25,Nebraska,142569,61283,13.6,9.4,93141,39445,46228,13.5,22.0,25.6,NaN,8334.488,5760.602,42.349771,42.9848
32,Ohio,585938,259128,10.9,6.5,352587,148875,180361,13.3,29.1,38.6,39.0,28244.952,16843.32,42.223621,44.224474
30,New York,4459752,2051902,16.8,6.6,2619374,1224916,1444277,13.2,22.9,33.3,31.9,344719.536,135425.532,46.763692,46.00933
24,Missouri,252575,111783,10.7,6.9,156128,71605,76851,12.5,32.7,40.8,64.9,11960.781,7713.027,45.86301,44.257349

In [33]:
fb22_sorted10 = new_fb2.sort_values(by='Female_householder_family', ascending=False)
fb22_sorted10.head(30)

,States,Total population,Households,Female_householder,With_own_children,OCCUPATIONCivilianemployedpopulation16yearsandover,Femalecivilianemployedpopulation16yearsandover,Families,Poverty rates for families and people for whom poverty status is determined All families,Female_householder_family,With_children_18,With_children_5,number_single_moms,number_single_moms_w_minors,percentage_female_employed,households_foreign_born
23,Mississippi,65448,24324,12.5,7.5,37067,13438,17016,19.3,43.2,49.8,NaN,3040.5,1824.3,36.253271,37.165383
31,North Carolina,916787,390698,13.8,8.6,579698,249451,304679,14.3,36.8,47.6,36.8,53916.324,33600.028,43.031199,42.616006
17,Kentucky,180899,72720,14.5,9.7,112577,48557,52994,17.5,36.3,46.9,55.7,10544.4,7053.84,43.132256,40.199227
18,Louisiana,192895,80680,11.1,5.1,112093,41359,57884,16.9,35.4,47.5,74.9,8955.48,4114.68,36.897041,41.825864
37,South Carolina,273375,121364,12.2,7.4,169396,70915,90545,14.4,34.1,45.9,32.3,14806.408,8980.936,41.863444,44.394696
39,Texas,5169126,2268663,14.6,7.6,3166901,1262507,1794013,15.6,34.1,46.3,54.8,331224.798,172418.388,39.865692,43.888715
12,Idaho,115978,46602,12.8,7.4,75063,31230,36858,13.6,33.7,52.5,90.1,5965.056,3448.548,41.605052,40.181759
15,Iowa,190727,78564,12.3,8.3,126111,53967,55868,13.9,33.1,40.2,68.9,9663.372,6520.812,42.793254,41.191861
38,Tennessee,392453,157644,11.3,7.7,246240,97548,124127,14.5,33.1,38.0,38.0,17813.772,12138.588,39.61501,40.168886
24,Missouri,252575,111783,10.7,6.9,156128,71605,76851,12.5,32.7,40.8,64.9,11960.781,7713.027,45.86301,44.257349
33,Oklahoma,242754,106289,11.5,7.2,157995,60758,79799,16.0,32.0,41.7,NaN,12223.235,7652.808,38.455647,43.784654
22,Minnesota,498826,215166,15.9,10.3,323584,149646,160668,14.1,31.0,39.4,60.9,34211.394,22162.098,46.246415,43.13448
3,Arkansas,156073,66380,11.1,7.1,98493,40106,51919,14.6,30.3,42.9,80.0,7368.18,4712.98,40.719645,42.53138
32,Ohio,585938,259128,10.9,6.5,352587,148875,180361,13.3,29.1,38.6,39.0,28244.952,16843.32,42.223621,44.224474
1,Alabama,191234,80825,8.9,5.5,118504,46176,58485,16.7,28.2,40.0,59.0,7193.425,4445.375,38.965773,42.264974
29,New Mexico,196873,91906,14.2,7.4,112334,49034,66879,18.9,28.2,45.4,NaN,13050.652,6801.044,43.650186,46.682887
34,Oregon,420943,181450,11.8,6.7,272866,116038,131831,11.8,27.9,34.6,24.1,21411.1,12157.15,42.525635,43.105599
35,Pennsylvania,978173,427997,13.4,7.7,610998,274529,315398,12.1,27.6,32.6,29.0,57351.598,32955.769,44.931244,43.754735
10,Georgia,1168022,499099,14.2,8.7,769549,336591,386728,11.1,26.6,32.9,24.0,70872.058,43421.613,43.738735,42.730274
16,Kansas,207583,86670,11.3,6.7,132915,58161,66798,11.3,26.3,34.7,45.4,9793.71,5806.89,43.758041,41.751974
43,Wisconsin,294741,123289,10.8,6.2,187124,82649,88329,12.0,26.2,33.5,34.1,13315.212,7643.918,44.168038,41.829606
2,Arizona,962688,425795,15.1,8.3,561845,235684,327705,14.0,25.9,34.1,29.8,64295.045,35340.985,41.948224,44.229802
14,Indiana,414526,172115,10.0,6.4,262190,112698,126043,13.5,25.2,31.1,NaN,17211.5,11015.36,42.983333,41.520918
41,Virginia,1105028,459843,12.7,7.1,718127,329575,356037,9.0,24.7,33.2,32.0,58400.061,32648.853,45.893693,41.613697
0,United States,46182177,20062035,14.1,6.8,28220471,12347125,15108635,12.0,24.4,34.6,34.8,2828746.935,1364218.38,43.75237,43.441077
42,Washington,1188392,507762,10.9,6.4,758049,330310,370378,9.3,24.3,32.3,33.3,55346.058,32496.768,43.5737,42.726811
30,New York,4459752,2051902,16.8,6.6,2619374,1224916,1444277,13.2,22.9,33.3,31.9,344719.536,135425.532,46.763692,46.00933
25,Nebraska,142569,61283,13.6,9.4,93141,39445,46228,13.5,22.0,25.6,NaN,8334.488,5760.602,42.349771,42.9848
4,California,10428025,4399236,14.5,5.8,6170755,2667796,3444453,11.1,21.9,32.3,28.1,637889.22,255155.688,43.232895,42.186665
26,Nevada,600957,260837,16.2,8.3,364233,162284,199204,11.5,21.3,28.4,26.9,42255.594,21649.471,44.554996,43.403605

In [34]:
fb22_sorted11 = new_fb2.sort_values(by='With_children_18', ascending=False)
fb22_sorted11.head(30)

,States,Total population,Households,Female_householder,With_own_children,OCCUPATIONCivilianemployedpopulation16yearsandover,Femalecivilianemployedpopulation16yearsandover,Families,Poverty rates for families and people for whom poverty status is determined All families,Female_householder_family,With_children_18,With_children_5,number_single_moms,number_single_moms_w_minors,percentage_female_employed,households_foreign_born
12,Idaho,115978,46602,12.8,7.4,75063,31230,36858,13.6,33.7,52.5,90.1,5965.056,3448.548,41.605052,40.181759
23,Mississippi,65448,24324,12.5,7.5,37067,13438,17016,19.3,43.2,49.8,NaN,3040.5,1824.3,36.253271,37.165383
31,North Carolina,916787,390698,13.8,8.6,579698,249451,304679,14.3,36.8,47.6,36.8,53916.324,33600.028,43.031199,42.616006
18,Louisiana,192895,80680,11.1,5.1,112093,41359,57884,16.9,35.4,47.5,74.9,8955.48,4114.68,36.897041,41.825864
17,Kentucky,180899,72720,14.5,9.7,112577,48557,52994,17.5,36.3,46.9,55.7,10544.4,7053.84,43.132256,40.199227
39,Texas,5169126,2268663,14.6,7.6,3166901,1262507,1794013,15.6,34.1,46.3,54.8,331224.798,172418.388,39.865692,43.888715
37,South Carolina,273375,121364,12.2,7.4,169396,70915,90545,14.4,34.1,45.9,32.3,14806.408,8980.936,41.863444,44.394696
29,New Mexico,196873,91906,14.2,7.4,112334,49034,66879,18.9,28.2,45.4,NaN,13050.652,6801.044,43.650186,46.682887
3,Arkansas,156073,66380,11.1,7.1,98493,40106,51919,14.6,30.3,42.9,80.0,7368.18,4712.98,40.719645,42.53138
33,Oklahoma,242754,106289,11.5,7.2,157995,60758,79799,16.0,32.0,41.7,NaN,12223.235,7652.808,38.455647,43.784654
24,Missouri,252575,111783,10.7,6.9,156128,71605,76851,12.5,32.7,40.8,64.9,11960.781,7713.027,45.86301,44.257349
15,Iowa,190727,78564,12.3,8.3,126111,53967,55868,13.9,33.1,40.2,68.9,9663.372,6520.812,42.793254,41.191861
1,Alabama,191234,80825,8.9,5.5,118504,46176,58485,16.7,28.2,40.0,59.0,7193.425,4445.375,38.965773,42.264974
22,Minnesota,498826,215166,15.9,10.3,323584,149646,160668,14.1,31.0,39.4,60.9,34211.394,22162.098,46.246415,43.13448
32,Ohio,585938,259128,10.9,6.5,352587,148875,180361,13.3,29.1,38.6,39.0,28244.952,16843.32,42.223621,44.224474
38,Tennessee,392453,157644,11.3,7.7,246240,97548,124127,14.5,33.1,38.0,38.0,17813.772,12138.588,39.61501,40.168886
16,Kansas,207583,86670,11.3,6.7,132915,58161,66798,11.3,26.3,34.7,45.4,9793.71,5806.89,43.758041,41.751974
34,Oregon,420943,181450,11.8,6.7,272866,116038,131831,11.8,27.9,34.6,24.1,21411.1,12157.15,42.525635,43.105599
0,United States,46182177,20062035,14.1,6.8,28220471,12347125,15108635,12.0,24.4,34.6,34.8,2828746.935,1364218.38,43.75237,43.441077
2,Arizona,962688,425795,15.1,8.3,561845,235684,327705,14.0,25.9,34.1,29.8,64295.045,35340.985,41.948224,44.229802
43,Wisconsin,294741,123289,10.8,6.2,187124,82649,88329,12.0,26.2,33.5,34.1,13315.212,7643.918,44.168038,41.829606
30,New York,4459752,2051902,16.8,6.6,2619374,1224916,1444277,13.2,22.9,33.3,31.9,344719.536,135425.532,46.763692,46.00933
41,Virginia,1105028,459843,12.7,7.1,718127,329575,356037,9.0,24.7,33.2,32.0,58400.061,32648.853,45.893693,41.613697
10,Georgia,1168022,499099,14.2,8.7,769549,336591,386728,11.1,26.6,32.9,24.0,70872.058,43421.613,43.738735,42.730274
35,Pennsylvania,978173,427997,13.4,7.7,610998,274529,315398,12.1,27.6,32.6,29.0,57351.598,32955.769,44.931244,43.754735
42,Washington,1188392,507762,10.9,6.4,758049,330310,370378,9.3,24.3,32.3,33.3,55346.058,32496.768,43.5737,42.726811
4,California,10428025,4399236,14.5,5.8,6170755,2667796,3444453,11.1,21.9,32.3,28.1,637889.22,255155.688,43.232895,42.186665
28,New Jersey,2181082,971528,14.4,7.1,1374627,609371,749598,9.4,20.8,32.0,23.9,139900.032,68978.488,44.329916,44.543396
13,Illinois,1810100,830783,11.4,5.0,1133130,482471,623981,9.5,20.1,31.3,23.2,94709.262,41539.15,42.57861,45.897078
14,Indiana,414526,172115,10.0,6.4,262190,112698,126043,13.5,25.2,31.1,NaN,17211.5,11015.36,42.983333,41.520918

In [35]:
fb22_sorted12 = new_fb2.sort_values(by='With_children_5', ascending=False)
fb22_sorted12.head(30)

,States,Total population,Households,Female_householder,With_own_children,OCCUPATIONCivilianemployedpopulation16yearsandover,Femalecivilianemployedpopulation16yearsandover,Families,Poverty rates for families and people for whom poverty status is determined All families,Female_householder_family,With_children_18,With_children_5,number_single_moms,number_single_moms_w_minors,percentage_female_employed,households_foreign_born
12,Idaho,115978,46602,12.8,7.4,75063,31230,36858,13.6,33.7,52.5,90.1,5965.056,3448.548,41.605052,40.181759
3,Arkansas,156073,66380,11.1,7.1,98493,40106,51919,14.6,30.3,42.9,80.0,7368.18,4712.98,40.719645,42.53138
18,Louisiana,192895,80680,11.1,5.1,112093,41359,57884,16.9,35.4,47.5,74.9,8955.48,4114.68,36.897041,41.825864
21,Michigan,695203,301795,9.1,4.0,405590,166118,220716,11.9,19.1,24.6,72.4,27463.345,12071.8,40.957124,43.411061
15,Iowa,190727,78564,12.3,8.3,126111,53967,55868,13.9,33.1,40.2,68.9,9663.372,6520.812,42.793254,41.191861
24,Missouri,252575,111783,10.7,6.9,156128,71605,76851,12.5,32.7,40.8,64.9,11960.781,7713.027,45.86301,44.257349
5,Colorado,557528,239506,12.6,7.3,361583,160878,174304,9.7,20.2,30.3,62.9,30177.756,17483.938,44.492689,42.95856
22,Minnesota,498826,215166,15.9,10.3,323584,149646,160668,14.1,31.0,39.4,60.9,34211.394,22162.098,46.246415,43.13448
1,Alabama,191234,80825,8.9,5.5,118504,46176,58485,16.7,28.2,40.0,59.0,7193.425,4445.375,38.965773,42.264974
17,Kentucky,180899,72720,14.5,9.7,112577,48557,52994,17.5,36.3,46.9,55.7,10544.4,7053.84,43.132256,40.199227
39,Texas,5169126,2268663,14.6,7.6,3166901,1262507,1794013,15.6,34.1,46.3,54.8,331224.798,172418.388,39.865692,43.888715
16,Kansas,207583,86670,11.3,6.7,132915,58161,66798,11.3,26.3,34.7,45.4,9793.71,5806.89,43.758041,41.751974
6,Connecticut,568311,251703,12.8,6.6,363225,163644,181681,9.1,20.8,30.0,40.5,32217.984,16612.398,45.053066,44.289658
32,Ohio,585938,259128,10.9,6.5,352587,148875,180361,13.3,29.1,38.6,39.0,28244.952,16843.32,42.223621,44.224474
38,Tennessee,392453,157644,11.3,7.7,246240,97548,124127,14.5,33.1,38.0,38.0,17813.772,12138.588,39.61501,40.168886
31,North Carolina,916787,390698,13.8,8.6,579698,249451,304679,14.3,36.8,47.6,36.8,53916.324,33600.028,43.031199,42.616006
0,United States,46182177,20062035,14.1,6.8,28220471,12347125,15108635,12.0,24.4,34.6,34.8,2828746.935,1364218.38,43.75237,43.441077
9,Florida,4817273,2106358,15.6,7.1,2829650,1301797,1526061,12.1,21.2,30.7,34.2,328591.848,149551.418,46.005584,43.725112
43,Wisconsin,294741,123289,10.8,6.2,187124,82649,88329,12.0,26.2,33.5,34.1,13315.212,7643.918,44.168038,41.829606
42,Washington,1188392,507762,10.9,6.4,758049,330310,370378,9.3,24.3,32.3,33.3,55346.058,32496.768,43.5737,42.726811
37,South Carolina,273375,121364,12.2,7.4,169396,70915,90545,14.4,34.1,45.9,32.3,14806.408,8980.936,41.863444,44.394696
41,Virginia,1105028,459843,12.7,7.1,718127,329575,356037,9.0,24.7,33.2,32.0,58400.061,32648.853,45.893693,41.613697
30,New York,4459752,2051902,16.8,6.6,2619374,1224916,1444277,13.2,22.9,33.3,31.9,344719.536,135425.532,46.763692,46.00933
2,Arizona,962688,425795,15.1,8.3,561845,235684,327705,14.0,25.9,34.1,29.8,64295.045,35340.985,41.948224,44.229802
35,Pennsylvania,978173,427997,13.4,7.7,610998,274529,315398,12.1,27.6,32.6,29.0,57351.598,32955.769,44.931244,43.754735
4,California,10428025,4399236,14.5,5.8,6170755,2667796,3444453,11.1,21.9,32.3,28.1,637889.22,255155.688,43.232895,42.186665
26,Nevada,600957,260837,16.2,8.3,364233,162284,199204,11.5,21.3,28.4,26.9,42255.594,21649.471,44.554996,43.403605
19,Maryland,1029710,425821,14.2,7.2,669609,306252,334868,8.7,18.5,28.0,26.6,60466.582,30659.112,45.735944,41.353488
34,Oregon,420943,181450,11.8,6.7,272866,116038,131831,11.8,27.9,34.6,24.1,21411.1,12157.15,42.525635,43.105599
10,Georgia,1168022,499099,14.2,8.7,769549,336591,386728,11.1,26.6,32.9,24.0,70872.058,43421.613,43.738735,42.730274

In [36]:
fb22_filtered_v1 = new_fb2.copy()

In [37]:
fb22_filtered_v1.to_csv('fb22_filtered_v1.csv', index=False)